CISA-KEV-Weekly-Report/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "CISA KEV Report",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  "Bert-Jan Pals"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "CISA-KEV-Weekly-Report",
            "type":  "string"
        }
    },
    "variables":  {
        "AzuremonitorlogsConnectionName":  "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]",
        "WdatpConnectionName":  "[concat('Wdatp-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "interval":  1,
                                "frequency":  "Week",
                                "timeZone":  "UTC",
                                "schedule":  {
                                    "hours":  [
                                        1
                                    ],
                                    "weekDays":  [
                                        "Monday"
                                    ]
                                }
                            },
                            "evaluatedRecurrence":  {
                                "interval":  1,
                                "frequency":  "Week",
                                "timeZone":  "UTC",
                                "schedule":  {
                                    "hours":  [
                                        1
                                    ],
                                    "weekDays":  [
                                        "Monday"
                                    ]
                                }
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "New_CISA_KEV_Entries":  {
                            "runAfter":  {
                                "Initialize_Date":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  "let KnowExploitesVulnsCISA = externaldata(CVEId: string, Vendor: \n    string, Product: string, VulnerabilityName: string, DateAdded: datetime, \n    Description: string, RequiredAction: string, DueDate: datetime, \n    Notes: string)\n    [@\"https://www.cisa.gov/sites/default/files/csv/known_exploited_vulnerabilities.csv\"] \n    with (format=\"csv\", ignoreFirstRecord=True);\nKnowExploitesVulnsCISA\n| where DateAdded between (startofweek(ago(7d)) .. startofweek(now()))\n| project CVEId, Vendor, Product, VulnerabilityName, DateAdded\n| sort by DateAdded desc",
                                "path":  "/visualizeQuery",
                                "queries":  {
                                    "subscriptions":  "@variables('SubscriptionId')",
                                    "resourcegroups":  "@variables('ResourceGroupName')",
                                    "resourcetype":  "Log Analytics Workspace",
                                    "resourcename":  "@variables('SentinelResourceName')",
                                    "timerange":  "Last 12 hours",
                                    "visType":  "Html Table"
                                }
                            }
                        },
                        "Initialize_Subscription":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "SubscriptionId",
                                        "type":  "string",
                                        "value":  "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx"
                                    }
                                ]
                            }
                        },
                        "Initialize_Resource_Group":  {
                            "runAfter":  {
                                "Initialize_Subscription":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "ResourceGroupName",
                                        "type":  "string",
                                        "value":  "Resource Group"
                                    }
                                ]
                            }
                        },
                        "Initialize_Sentinel_Instance":  {
                            "runAfter":  {
                                "Initialize_Resource_Group":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "SentinelResourceName",
                                        "type":  "string",
                                        "value":  "Sentinel"
                                    }
                                ]
                            }
                        },
                        "Initialize_Report_Recipient":  {
                            "runAfter":  {
                                "Initialize_Sentinel_Instance":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Recipients",
                                        "type":  "string",
                                        "value":  "test@kqlquery.com"
                                    }
                                ]
                            }
                        },
                        "BarChart_Vendors_Year_to_date":  {
                            "runAfter":  {
                                "HTML_Table_-_Top_10_Active_CISA_KEV":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  "let KnowExploitesVulnsCISA = externaldata(CVEId: string, Vendor: \n    string, Product: string, VulnerabilityName: string, DateAdded: datetime, \n    Description: string, RequiredAction: string, DueDate: datetime, \n    Notes: string)\n    [@\"https://www.cisa.gov/sites/default/files/csv/known_exploited_vulnerabilities.csv\"] \n    with (format=\"csv\", ignoreFirstRecord=True);\nKnowExploitesVulnsCISA\n| where DateAdded \u003e startofyear(now())\n| summarize Total = count() by Vendor\n| top 10 by Total ",
                                "path":  "/visualizeQuery",
                                "queries":  {
                                    "subscriptions":  "@variables('SubscriptionId')",
                                    "resourcegroups":  "@variables('ResourceGroupName')",
                                    "resourcetype":  "Log Analytics Workspace",
                                    "resourcename":  "@variables('SentinelResourceName')",
                                    "timerange":  "Set in query",
                                    "visType":  "Bar Chart"
                                }
                            }
                        },
                        "Email_HTML_Template":  {
                            "runAfter":  {
                                "BarChart_Vendors_Year_to_date":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "HTMLTemplate",
                                        "type":  "string",
                                        "value":  "\u003c!DOCTYPE html\u003e\n\u003chtml lang=\"en\"\u003e\n\u003chead\u003e\n    \u003cmeta charset=\"UTF-8\"\u003e\n    \u003cmeta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\u003e\n    \u003ctitle\u003eWeekly CISA KEV Update\u003c/title\u003e\n    \u003cstyle\u003e\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f4f4f4;\n        }\n        .container {\n            width: 80%;\n            margin: auto;\n            background: #fff;\n            padding: 20px;\n            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);\n            border-radius: 10px;\n        }\n        h1 {\n            color: #2c3e50;\n            text-align: center;\n        }\n        .section {\n            margin-bottom: 20px;\n        }\n        .section h2 {\n            color: #2980b9;\n            border-bottom: 2px solid #2980b9;\n            padding-bottom: 5px;\n        }\n        .section ul {\n            list-style-type: none;\n            padding: 0;\n        }\n        .section ul li {\n            background: #ecf0f1;\n            margin: 5px 0;\n            padding: 10px;\n            border-radius: 5px;\n        }\n        .chart {\n            width: 100%;\n            height: 400px;\n            background: #ecf0f1;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            border-radius: 5px;\n        }\n        footer {\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px;\n            background: #2c3e50;\n            color: #ecf0f1;\n            border-radius: 0 0 10px 10px;\n            width: 100%;\n            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);\n            position: relative;\n            bottom: 0;\n        }\n    \u003c/style\u003e\n\u003c/head\u003e\n\u003cbody\u003e\n    \u003cdiv class=\"container\"\u003e\n        \u003ch1\u003eWeekly CISA KEV Update\u003c/h1\u003e\n            \u003cp\u003eWelcome to the weekly CISA Known Exploited Vulnerabilities (KEV) Update! This email is generated every Sunday evening and includes the latest data from the past week. Our goal is to keep you informed about the most recent vulnerabilities and the devices affected, helping you stay ahead in securing your systems.\u003c/p\u003e\n        \u003cdiv class=\"section\"\u003e\n            \u003ch2\u003eNew CISA KEV Entries Last Week\u003c/h2\u003e\n@{base64ToString(body('New_CISA_KEV_Entries')?['attachmentContent'])}\n        \u003c/div\u003e\n        \n        \u003cdiv class=\"section\"\u003e\n            \u003ch2\u003eNew CISA KEV Entries Vulnerable Devices\u003c/h2\u003e\n@{body('HTML_Table_-_New_CISA_KEV_Entries_MDE_Active_check')}\n        \u003c/div\u003e\n        \n        \u003cdiv class=\"section\"\u003e\n            \u003ch2\u003eTop 10 Active CISA KEV\u003c/h2\u003e\n@{body('HTML_Table_-_Top_10_Active_CISA_KEV')}\n        \u003c/div\u003e\n        \n        \u003cdiv class=\"section\"\u003e\n            \u003ch2\u003eBarChart Vendors Year to Date\u003c/h2\u003e\n            \u003cdiv class=\"chart\"\u003e\n                \u003cimg src=\"cid:@{body('BarChart_Vendors_Year_to_date')?['attachmentName']}\" alt=\"BarChart Vendors Year to Date\"\u003e\n            \u003c/div\u003e\n        \u003c/div\u003e\n    \u003c/div\u003e\n    \u003cfooter\u003e\n        \u0026copy; 2025 Bert-Jan Pals\n    \u003c/footer\u003e\n\u003c/body\u003e\n\u003c/html\u003e"
                                    }
                                ]
                            }
                        },
                        "Initialize_Date":  {
                            "runAfter":  {
                                "Initialize_Report_Recipient":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Date",
                                        "type":  "string",
                                        "value":  "@formatDateTime(addDays(utcnow(),-1), 'dddd MMMM d')"
                                    }
                                ]
                            }
                        },
                        "New_CISA_KEV_Entries_MDE_Active_check":  {
                            "runAfter":  {
                                "New_CISA_KEV_Entries":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  {
                                    "Query":  "let KnowExploitesVulnsCISA = externaldata(CVEId: string, Vendor: \n    string, Product: string, VulnerabilityName: string, DateAdded: datetime, \n    Description: string, RequiredAction: string, DueDate: datetime, \n    Notes: string)\n    [@\"https://www.cisa.gov/sites/default/files/csv/known_exploited_vulnerabilities.csv\"] \n    with (format=\"csv\", ignoreFirstRecord=True);\nlet NewCISAKevCVE = KnowExploitesVulnsCISA\n| where DateAdded between (startofweek(ago(7d)) .. startofweek(now()))\n| distinct CVEId;\nDeviceTvmSoftwareVulnerabilities\n| where CveId in~ (NewCISAKevCVE)\n| distinct CveId, DeviceId\n| join kind=leftouter (DeviceInfo | project DeviceId, DeviceType) on DeviceId\n| summarize TotalVulnerableDevices = dcount(DeviceId), VulnerableWorkstations = dcountif(DeviceId, DeviceType == \"Workstation\"), VulnerableServers = dcountif(DeviceId, DeviceType == \"Server\") by CveId\n| sort by TotalVulnerableDevices"
                                },
                                "path":  "/api/advancedqueries/run"
                            }
                        },
                        "HTML_Table_-_New_CISA_KEV_Entries_MDE_Active_check":  {
                            "runAfter":  {
                                "New_CISA_KEV_Entries_MDE_Active_check":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "from":  "@body('New_CISA_KEV_Entries_MDE_Active_check')?['Results']",
                                "format":  "HTML"
                            }
                        },
                        "Top_10_Active_CISA_KEV":  {
                            "runAfter":  {
                                "HTML_Table_-_New_CISA_KEV_Entries_MDE_Active_check":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  {
                                    "Query":  "let KnowExploitesVulnsCISA = externaldata(CVEId: string, Vendor: \n    string, Product: string, VulnerabilityName: string, DateAdded: datetime, \n    Description: string, RequiredAction: string, DueDate: datetime, \n    Notes: string)\n    [@\"https://www.cisa.gov/sites/default/files/csv/known_exploited_vulnerabilities.csv\"] \n    with (format=\"csv\", ignoreFirstRecord=True);\nlet NewCISAKevCVE = KnowExploitesVulnsCISA\n| distinct CVEId;\nDeviceTvmSoftwareVulnerabilities\n| where CveId in~ (NewCISAKevCVE)\n| distinct CveId, DeviceId\n| join kind=leftouter (DeviceInfo | project DeviceId, DeviceType) on DeviceId\n| summarize TotalVulnerableDevices = dcount(DeviceId), VulnerableWorkstations = dcountif(DeviceId, DeviceType == \"Workstation\"), VulnerableServers = dcountif(DeviceId, DeviceType == \"Server\") by CveId\n| sort by TotalVulnerableDevices\n| top 10 by TotalVulnerableDevices\n| join kind=inner (KnowExploitesVulnsCISA | project CVEId, Vendor, Product) on $left.CveId == $right.CVEId\n| project-away CVEId"
                                },
                                "path":  "/api/advancedqueries/run"
                            }
                        },
                        "HTML_Table_-_Top_10_Active_CISA_KEV":  {
                            "runAfter":  {
                                "Top_10_Active_CISA_KEV":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "from":  "@body('Top_10_Active_CISA_KEV')?['Results']",
                                "format":  "HTML"
                            }
                        },
                        "Send_Report":  {
                            "runAfter":  {
                                "Email_HTML_Template":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "body":  {
                                    "To":  "@variables('Recipients')",
                                    "Subject":  "Weekly CISA KEV Report - @{variables('Date')}",
                                    "Body":  "\u003cp class=\"editor-paragraph\"\u003e@{variables('HTMLTemplate')}\u003c/p\u003e",
                                    "Attachments":  [
                                        {
                                            "Name":  "@body('BarChart_Vendors_Year_to_date')?['attachmentName']",
                                            "ContentBytes":  "@body('BarChart_Vendors_Year_to_date')?['attachmentContent']"
                                        }
                                    ],
                                    "Importance":  "Normal"
                                },
                                "path":  "/v2/Mail"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuremonitorlogs":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName":  "[variables('AzuremonitorlogsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                            },
                            "wdatp":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]",
                                "connectionName":  "[variables('WdatpConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
                            },
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "CISA-KEV-Weekly-Report",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzuremonitorlogsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('WdatpConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('WdatpConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
