Report New Actions Entra Admin/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "New Action Found Entra Admin",
        "description":  "This logic app sends a weekly report with the new actions found in identity related tables, this is aimed for identity/entra administrators.",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  "Bert-Jan Pals"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Report-NewTableActionFound-EntraAdmin",
            "type":  "string"
        }
    },
    "variables":  {
        "KeyvaultConnectionName":  "[concat('Keyvault-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Week",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "10"
                                    ],
                                    "minutes":  [
                                        45
                                    ],
                                    "weekDays":  [
                                        "Monday"
                                    ]
                                },
                                "timeZone":  "W. Europe Standard Time"
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Week",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "10"
                                    ],
                                    "minutes":  [
                                        45
                                    ],
                                    "weekDays":  [
                                        "Monday"
                                    ]
                                },
                                "timeZone":  "W. Europe Standard Time"
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Execute_Graph_Query":  {
                            "actions":  {
                                "Connect_MS_Graph_API":  {
                                    "runAfter":  {
                                        "Get_secret":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "uri":  "https://login.microsoftonline.com/@{variables('TenantId')}/oauth2/v2.0/token",
                                        "method":  "POST",
                                        "headers":  {
                                            "Content-Type":  "application/x-www-form-urlencoded"
                                        },
                                        "body":  "client_id=@{variables('ClientId')}\u0026scope=https%3A%2F%2Fgraph.microsoft.com%2F.default\u0026client_secret=@{body('Get_secret')?['value']}\u0026grant_type=client_credentials"
                                    },
                                    "runtimeConfiguration":  {
                                        "contentTransfer":  {
                                            "transferMode":  "Chunked"
                                        },
                                        "secureData":  {
                                            "properties":  [
                                                "inputs",
                                                "outputs"
                                            ]
                                        }
                                    }
                                },
                                "Parse_Graph_Tokens":  {
                                    "runAfter":  {
                                        "Connect_MS_Graph_API":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@{body('Connect_MS_Graph_API')}\n",
                                        "schema":  {
                                            "properties":  {
                                                "access_token":  {
                                                    "type":  "string"
                                                },
                                                "expires_in":  {
                                                    "type":  "integer"
                                                },
                                                "ext_expires_in":  {
                                                    "type":  "integer"
                                                },
                                                "token_type":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Execute_Query":  {
                                    "runAfter":  {
                                        "Parse_Graph_Tokens":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "uri":  "https://graph.microsoft.com/v1.0/security/runHuntingQuery",
                                        "method":  "POST",
                                        "headers":  {
                                            "Authorization":  "@{body('Parse_Graph_Tokens')?['access_token']}"
                                        },
                                        "body":  {
                                            "Query":  "@{variables('Query')}",
                                            "Timespan":  "@{addDays(utcNow(), -180)}"
                                        }
                                    },
                                    "runtimeConfiguration":  {
                                        "contentTransfer":  {
                                            "transferMode":  "Chunked"
                                        }
                                    }
                                },
                                "Get_secret":  {
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['Keyvault']['connectionId']"
                                            }
                                        },
                                        "method":  "get",
                                        "path":  "/secrets/@{encodeURIComponent('KeyVaultName')}/value"
                                    },
                                    "runtimeConfiguration":  {
                                        "secureData":  {
                                            "properties":  [
                                                "inputs",
                                                "outputs"
                                            ]
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Initialize_Email_Body":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Scope"
                        },
                        "Initialize_ReciepientAddress":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "ReciepientAddress",
                                        "type":  "string",
                                        "value":  "test@test.com"
                                    }
                                ]
                            }
                        },
                        "Initialize_TenantId":  {
                            "runAfter":  {
                                "Initialize_ReciepientAddress":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "TenantId",
                                        "type":  "string",
                                        "value":  "YourTenantId"
                                    }
                                ]
                            }
                        },
                        "Initialize_ClientID":  {
                            "runAfter":  {
                                "Initialize_TenantId":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "ClientId",
                                        "type":  "string",
                                        "value":  "AppId"
                                    }
                                ]
                            }
                        },
                        "Initialize_Query":  {
                            "runAfter":  {
                                "Initialize_ClientID":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Query",
                                        "type":  "string",
                                        "value":  "//set query_datetimescope_from = datetime(\"@{addDays(utcNow(), -180)}\");\n//set query_datetimescope_to = datetime(\"@{utcNow()}\");\nlet TimeFrame = 180d;\nlet Schedule = 7d;\nlet KnownActions = materialize (union withsource=TableName AuditLogs, SigninLogs, AADNonInteractiveUserSignInLogs, AADServicePrincipalSignInLogs, AADManagedIdentitySignInLogs, AADRiskyUsers, AADUserRiskEvents, AADServicePrincipalSignInLogs, MicrosoftGraphActivityLogs, IdentityLogonEvents, AADSignInEventsBeta, AADSpnSignInEventsBeta\n| where TimeGenerated between (startofday(ago(TimeFrame)) .. endofday(ago(Schedule))) \n| extend Action = coalesce(ResultType, OperationName, tostring(ErrorCode), ActionType, RiskDetail)\n| where isnotempty(Action)\n| distinct Action);\nunion withsource=TableName AuditLogs, SigninLogs, AADNonInteractiveUserSignInLogs, AADServicePrincipalSignInLogs, AADManagedIdentitySignInLogs, AADRiskyUsers, AADUserRiskEvents, AADServicePrincipalSignInLogs, MicrosoftGraphActivityLogs, IdentityLogonEvents, AADSignInEventsBeta, AADSpnSignInEventsBeta\n| where TimeGenerated \u003e endofday(ago(Schedule)) \n| extend Action = coalesce(ResultType, OperationName, tostring(ErrorCode), ActionType, RiskDetail)\n| where isnotempty(Action) and Action !in (KnownActions)\n| summarize TotalEntries = count() by Action, Type\n| project-rename Table = Type\n| sort by Table asc, Action\n| project Table, Action, TotalEntries = tostring(TotalEntries)"
                                    }
                                ]
                            }
                        },
                        "Return_Results":  {
                            "actions":  {
                                "Graph_API_to_HTML_Table":  {
                                    "runAfter":  {
                                        "Parse_Results":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Table",
                                    "inputs":  {
                                        "from":  "@body('Parse_Results')?['results']",
                                        "format":  "HTML"
                                    }
                                },
                                "Send_Results":  {
                                    "runAfter":  {
                                        "Create_Email_HTML":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "body":  {
                                            "To":  "@variables('ReciepientAddress')",
                                            "Subject":  "Entra ID: Weekly New Action Report",
                                            "Body":  "\u003cp class=\"editor-paragraph\"\u003e@{variables('EmailBody')}\u003c/p\u003e",
                                            "Importance":  "Normal"
                                        },
                                        "path":  "/v2/Mail"
                                    }
                                },
                                "Create_Email_HTML":  {
                                    "runAfter":  {
                                        "Graph_API_to_HTML_Table":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "SetVariable",
                                    "inputs":  {
                                        "name":  "EmailBody",
                                        "value":  "\u003c!DOCTYPE html\u003e\n\u003chtml\u003e\n\u003chead\u003e\n  \u003cmeta charset=\"UTF-8\"\u003e\n  \u003ctitle\u003eWeekly Action Types Update\u003c/title\u003e\n  \u003cstyle\u003e\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f0f8ff;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      max-width: 90%;\n      margin: auto;\n      background-color: #ffffff;\n      border: 1px solid #cce;\n      padding: 20px;\n      box-sizing: border-box;\n    }\n    h2 {\n      color: #0055a5;\n      text-align: center;\n    }\n    .info {\n      margin-bottom: 20px;\n      color: #333;\n    }\n    .table-container {\n      overflow-x: auto;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n      min-width: 400px;\n    }\n    th {\n      background-color: #0055a5;\n      color: white;\n      padding: 10px;\n      text-align: left;\n    }\n    td {\n      border: 1px solid #ddd;\n      padding: 8px;\n    }\n    .footer {\n      text-align: center;\n      font-size: 12px;\n      color: #777;\n      margin-top: 10px;\n    }\n    .copyright {\n      text-align: center;\n      font-size: 12px;\n      color: #999;\n      margin-top: 5px;\n    }\n\n    @media screen and (max-width: 600px) {\n      .container {\n        padding: 10px;\n      }\n      th, td {\n        font-size: 14px;\n        padding: 6px;\n      }\n    }\n  \u003c/style\u003e\n\u003c/head\u003e\n\u003cbody\u003e\n  \u003cdiv class=\"container\"\u003e\n    \u003ch2\u003eNew Entra ID Action Types This Week\u003c/h2\u003e\n    \u003cp class=\"info\"\u003eHere's a summary of new action types found in Entra ID logs this week.\u003c/p\u003e\n    \n    \u003cdiv class=\"table-container\"\u003e\n      @{body('Graph_API_to_HTML_Table')}\n    \u003c/div\u003e\n    \u003cp class=\"info\"\u003e Included tables: AuditLogs, SigninLogs, AADNonInteractiveUserSignInLogs, AADServicePrincipalSignInLogs, AADManagedIdentitySignInLogs, AADRiskyUsers, AADUserRiskEvents, AADServicePrincipalSignInLogs, MicrosoftGraphActivityLogs, IdentityLogonEvents, AADSignInEventsBeta and AADSpnSignInEventsBeta.\u003c/p\u003e\n    \u003cdiv class=\"footer\"\u003e\n      Powered by Logic Apps, KQL and Graph API.\n    \u003c/div\u003e\n    \u003cdiv class=\"copyright\"\u003e\n      \u0026copy; Bert-Jan Pals.\n    \u003c/div\u003e\n  \u003c/div\u003e\n\u003c/body\u003e\n\u003c/html\u003e"
                                    }
                                },
                                "Parse_Results":  {
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Execute_Query')",
                                        "schema":  {
                                            "type":  "object",
                                            "properties":  {
                                                "@@odata.context":  {
                                                    "type":  "string"
                                                },
                                                "schema":  {
                                                    "type":  "array",
                                                    "items":  {
                                                        "type":  "object",
                                                        "properties":  {
                                                            "name":  {
                                                                "type":  "string"
                                                            },
                                                            "type":  {
                                                                "type":  "string"
                                                            }
                                                        },
                                                        "required":  [
                                                            "name",
                                                            "type"
                                                        ]
                                                    }
                                                },
                                                "results":  {
                                                    "type":  "array",
                                                    "items":  {
                                                        "type":  "object",
                                                        "properties":  {
                                                            "Table":  {
                                                                "type":  "string"
                                                            },
                                                            "Action":  {
                                                                "type":  "string"
                                                            },
                                                            "TotalEntries":  {
                                                                "type":  "string"
                                                            }
                                                        },
                                                        "required":  [
                                                            "Table",
                                                            "Action",
                                                            "TotalEntries"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Execute_Graph_Query":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Scope"
                        },
                        "Initialize_Email_Body":  {
                            "runAfter":  {
                                "Initialize_Query":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "EmailBody",
                                        "type":  "string"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "Keyvault":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                                "connectionName":  "[variables('KeyvaultConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Keyvault')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "Report-NewTableActionFound-EntraAdmin",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('KeyvaultConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('KeyvaultConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('KeyvaultConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Keyvault')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
