Report New Actions/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "Report New ActionTypes Sentinel and Defender For Endpoint",
        "description":  "This automation flow creates a weekly report with new Actions/Operations/ActionTypes that are found in your Sentinel and/or Defender For Endpoint Data. This can help you be informed about rare activities that are occuring in your tenant or new data potential that Microsoft added. The Logic App uses both the Defender APT API and the Azure Monitor API, depending on the configuration you have you might want to remove one of these. In case you do not run Sentinel and want to retrieve Defender For Office data you can use the Graph API to query the data.",
        "prerequisites":  "Sentinel or Defender For Enpoint. Azure Monitor API and/or Defender ATP API permissions.",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Report-NewTableActionFound",
            "type":  "string"
        }
    },
    "variables":  {
        "AzuremonitorlogsConnectionName":  "[concat('Azuremonitorlogs-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]",
        "WdatpConnectionName":  "[concat('Wdatp-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Week",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "10"
                                    ],
                                    "minutes":  [
                                        45
                                    ],
                                    "weekDays":  [
                                        "Monday"
                                    ]
                                },
                                "timeZone":  "W. Europe Standard Time"
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Week",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "10"
                                    ],
                                    "minutes":  [
                                        45
                                    ],
                                    "weekDays":  [
                                        "Monday"
                                    ]
                                },
                                "timeZone":  "W. Europe Standard Time"
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Advanced_Hunting":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Query":  "let TimeFrame = 180d;\nlet Schedule = 7d;\nlet KnownActions = union Device*\n| where TimeGenerated between (startofday(ago(TimeFrame)) .. startofday(ago(Schedule))) \n| where isnotempty(ActionType)\n| distinct ActionType;\nunion Device*\n| where TimeGenerated \u003e startofday(ago(Schedule)) \n| where isnotempty(ActionType) and ActionType !in (KnownActions)\n| distinct Type, ActionType\n| project-rename DataType = Type\n| sort by DataType, ActionType"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['wdatp']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/api/advancedqueries/run"
                            }
                        },
                        "Create_HTML_table":  {
                            "runAfter":  {
                                "Advanced_Hunting":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@body('Advanced_Hunting')?['Results']"
                            }
                        },
                        "Initialize_variable":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "ReciepientAddress",
                                        "type":  "string",
                                        "value":  "test@test.com"
                                    }
                                ]
                            }
                        },
                        "Run_query_and_visualize_results":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "let TimeFrame = 180d;\nlet Schedule = 7d;\nlet KnownActions = union *\n| where TimeGenerated between (startofday(ago(TimeFrame)) .. startofday(ago(Schedule))) \n| extend Action = coalesce(Operation, OperationName, OperationNameValue, ActionType, tostring(EventID))\n| where isnotempty(Action)\n| distinct Action;\nunion *\n| where TimeGenerated \u003e startofday(ago(Schedule)) \n| extend Action = coalesce(Operation, OperationName, OperationNameValue, ActionType, tostring(EventID))\n| where isnotempty(Action) and Action !in (KnownActions)\n| distinct Type, Action\n| project-rename DataType = Type\n| sort by DataType, Action",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/visualizeQuery",
                                "queries":  {
                                    "resourcegroups":  "Your Resource Group",
                                    "resourcename":  "Your Resource Name",
                                    "resourcetype":  "Log Analytics Workspace",
                                    "subscriptions":  "Your Subscription",
                                    "timerange":  "Set in query",
                                    "visType":  "Html Table"
                                }
                            }
                        },
                        "Send_an_email_(V2)":  {
                            "runAfter":  {
                                "Run_query_and_visualize_results":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003eHello,\u003cbr\u003e\n\u003cbr\u003e\nHerby the weekly report of new Actions found in the DataTables.\u003cbr\u003e\n\u003cbr\u003e\n@{base64ToString(body('Run_query_and_visualize_results')?['attachmentContent'])}\u003c/p\u003e",
                                    "Importance":  "Normal",
                                    "Subject":  "Weekly New Action Types",
                                    "To":  "@variables('ReciepientAddress')"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        },
                        "Send_an_email_(V2)_2":  {
                            "runAfter":  {
                                "Create_HTML_table":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003eHello,\u003cbr\u003e\n\u003cbr\u003e\nHerby the weekly report of new Actions found in the Defender For Endpoint Data Tables.\u003cbr\u003e\n\u003cbr\u003e\n@{body('Create_HTML_table')}\u003c/p\u003e",
                                    "Importance":  "Normal",
                                    "Subject":  "Defender For Endpoint - Weekly New Action Types",
                                    "To":  "@variables('ReciepientAddress')"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuremonitorlogs":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                                "connectionName":  "[variables('AzuremonitorlogsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                            },
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            },
                            "wdatp":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]",
                                "connectionName":  "[variables('WdatpConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "Report-NewTableActionFound",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzuremonitorlogsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzuremonitorlogsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzuremonitorlogsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuremonitorlogs')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('WdatpConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('WdatpConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Wdatp')]"
                }
            }
        }
    ]
}
